<div class="component mt-5">
  <div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>

    <div class='card-body'
         *ngIf='hero'>
      <div class='row'>
        <div class='col-md-8'>
          <div class='row'>
            <div class='col-md-4'>Name:</div>
            <div class='col-md-8'>{{hero.name}}</div>
          </div>
          <div class='row'>
            <div class='col-md-4'>Catchphrase:</div>
            <div class='col-md-8'>{{hero.catchphrase}}</div>
          </div>
        </div>
        <div class='col-md-4'>
          <img class='center-block img-responsive'
               [style.width.px]='225'
               [style.margin.px]='2'
               [src]='hero.imageUrl'
               [title]='hero.name'>
        </div>
      </div>
    </div>

    <div class='card-footer'>
      <button class='btn btn-outline-secondary'
              style='width:80px'
              (click)='onBack()'>
        <i class='fa fa-chevron-left'></i> Back
      </button>
    </div>
  </div>

</div>
