.nav-link {
  font-size: large;
  cursor: pointer;
}

.navbar-brand {
  font-size: 1.6rem !important;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 50px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #007ACC
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-dark ul li {
  font-size: 1.00rem;
  align-self: center;
  margin-left: 20px;
}
  .navbar-dark ul li i {
      align-self: center;
      margin-left: 1px;
      margin-top: 5px;
      margin-right: 7px;
      margin-bottom: 1px;
  }


/* Spinner */
.spinner {
  font-size:300%;
  position:absolute;
  top: 50%;
  left: 50%;
  z-index:10
}

.fa-spinner {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
