<div class="container">
  <img src="../../assets/images/404ErrorWhiteBackground001.png"  class="rounded mx-auto d-block not-found-image"  alt="Oops! Cannot Find Page"/>
  <h1 class="text-center text-danger fw-bolder fs-1"><em><b>Ooops!</b></em></h1>
  <br/>
  <h2 class="text-center text-primary">Looks like we've wondered off into uncharted waters</h2>
  <div class="text-center">
    <button [routerLink]="['/']" class="btn btn-outline-primary">
      <fa-icon [icon]="fontAwesomeHouse" class="me-2"></fa-icon>
      <span>Return Home</span>
    </button>
  </div>
</div>
