<div class="container mt-2">

  <div class="row">
    <div *ngFor="let hero of heroes" class="card mr-4 mb-4" style="width: 18rem;">
      
      <a [routerLink]="['/heroes', hero.heroId]">
        <img class="card-img-top"
              [alt]="hero.name"
              [src]='hero.imageUrl'
              [title]='hero.name'
              [style.margin.px]='imageMargin' />
      </a>
      
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>
            {{hero.catchphrase}}
          </p>

          <footer class="blockquote-footer">{{hero.name}}</footer>
        </blockquote>
      </div>


    </div>

  </div>
</div>
